<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <!-- Current password  -->
    <mat-form-field appearance="outline">
      <mat-label>Current password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="show ? 'text' : 'password'"
        placeholder="Password"
      />

      <mat-icon matSuffix (click)="show = !show">{{
        show ? 'visibility' : 'visibility_off'
      }}</mat-icon>
    </mat-form-field>
    <div
      *ngIf="
        userForm.hasError('incorrectPass') &&
        password?.touched &&
        !password?.value.length
      "
      class="alert alert-danger"
    >
      Incorrect current password
    </div>

    <!-- New password  -->
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        [type]="showNewPass ? 'text' : 'password'"
        placeholder="New password"
      />

      <mat-icon matSuffix (click)="showNewPass = !showNewPass">{{
        showNewPass ? 'visibility' : 'visibility_off'
      }}</mat-icon>
    </mat-form-field>

    <!-- Confirmation password  -->
    <mat-form-field appearance="outline">
      <mat-label>Confirmation password</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        [type]="showConfirmPass ? 'text' : 'password'"
        placeholder="Confirm password"
      />

      <mat-icon matSuffix (click)="showConfirmPass = !showConfirmPass">{{
        showConfirmPass ? 'visibility' : 'visibility_off'
      }}</mat-icon>
    </mat-form-field>
    <div
      *ngIf="
        userForm.hasError('notSame') &&
        newPassword?.touched &&
        confirmPassword?.touched &&
        confirmPassword?.value.length &&
        newPassword?.value.length
      "
      class="alert alert-danger"
    >
      Confirmation password does not match
    </div>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="secondary"
    (click)="changePassword()"
    [disabled]="userForm.invalid"
  >
    {{ actionBtn }}
  </button>
</div>
