<div class="container text-center">
  <div class="row">
    <div class="col fs-4 text-start my-4">Profile Statistics</div>
  </div>
  <!-- Row 1 -->
  <div class="row">
    <!-- Col 1 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-eye fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Views</h6>
              <p class="card-text">142</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-people-fill fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Users</h6>
              <p class="card-text">{{ users?.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 3 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-shop fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Products</h6>
              <p class="card-text">{{ products?.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 4 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-bookmarks-fill fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Categories</h6>
              <p class="card-text">{{ categories?.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 5 -->
    <div class="col-3 ms-auto">
      <div class="card mb-3 border-1">
        <div class="row g-0 justify-content-md-center">
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">{{ user }}</h6>
              <p class="card-text text-muted">Admin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row mt-1 mb-4">
    <!-- Col 1 -->
    <div class="col-8">
      <div class="chart-container">
        <canvas id="views-chart" class="views"></canvas>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-3 ms-auto">
      <div class="card mb-3 border-1 h-100 d-flex">
        <!-- Title -->
        <div class="row g-0">
          <div class="col-6 my-2 offset-2">
            <h6>Recent Messages</h6>
          </div>
        </div>
        <!-- User 1 -->
        <div
          class="row g-0 justify-content-md-center"
          style="margin-top: -15px"
        >
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">Hank Schrader</h6>
              <p class="card-text text-muted">@johnducky</p>
            </div>
          </div>
        </div>
        <!-- User 2 -->
        <div
          class="row g-0 justify-content-md-center"
          style="margin-top: -15px"
        >
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">Dean Winchester</h6>
              <p class="card-text text-muted">@imdean</p>
            </div>
          </div>
        </div>
        <!-- User 3 -->
        <div
          class="row g-0 justify-content-md-center"
          style="margin-top: -15px"
        >
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">John Dodol</h6>
              <p class="card-text text-muted">@dodoljohn</p>
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="row mt-auto mb-4 justify-content-md-center">
          <div class="col mt-auto">
            <button class="btn btn-secondary">Start Conversation</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row my-2">
    <!-- Col 1 -->
    <div class="col-8">
      <div class="card">
        <div class="card-header">Latests comments</div>
        <div class="card-body">
          <!-- Headers -->
          <div class="row g-0">
            <div class="col-md-2 my-auto user">User</div>
            <div class="col-md-6 my-auto comments">Comment</div>
          </div>
          <hr />
          <!-- Comment 1 -->
          <div class="row g-0">
            <div class="col-md-2 my-auto user">
              <i class="bi bi-person-circle fs-2"></i>
              <h6 class="card-title">Hank Schrader</h6>
            </div>
            <div class="col-md-6 my-auto comments">
              <div class="card-body">
                <p class="card-text text-muted">
                  Really happy with the service. Excellent products!
                </p>
              </div>
            </div>
          </div>
          <!-- Comment 2 -->
          <div class="row g-0">
            <div class="col-md-2 my-auto user">
              <i class="bi bi-person-circle fs-2"></i>
              <h6 class="card-title">Dean Winchester</h6>
            </div>
            <div class="col-md-6 my-auto comments">
              <div class="card-body">
                <p class="card-text text-muted">
                  With SanDisk, you get quality and integrity!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-3 ms-auto">
      <div class="card h-100">
        <div class="card-header">Active products per category</div>
        <div class="chart-container h-100">
          <canvas id="categories-chart" class="categories"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
