<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
          <div
            class="carousel-item"
            *ngFor="let result of data; let i = index"
            [ngClass]="{ active: i === 1 }"
          >
            <img src="{{ result.img }}" title="{{ result.title }}" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-2">
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>Total users: {{ users?.length || 0 }}</p>
          <p>Total products: {{ products?.length || 0 }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Button 1</button>
          <button mat-button>Button 2</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6"><h2>Information</h2></div>
  </div>
</div>
