<div class="container text-center">
  <div class="row">
    <div class="col fs-4 text-start my-4">Profile Statistics</div>
  </div>
  <!-- Row 1 -->
  <div class="row">
    <!-- Col 1 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-eye-fill fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Profile Views</h6>
              <p class="card-text">112.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-person-square fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Followers</h6>
              <p class="card-text">183.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 3 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-person-plus-fill fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Following</h6>
              <p class="card-text">80.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 4 -->
    <div class="col-2">
      <div class="card mb-3 border-1">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <i class="bi bi-save2-fill fs-2"></i>
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body">
              <h6 class="card-title">Saved Post</h6>
              <p class="card-text">112</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Col 5 -->
    <div class="col-3 ms-auto">
      <div class="card mb-3 border-1">
        <div class="row g-0 justify-content-md-center">
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">John Duck</h6>
              <p class="card-text text-muted">@johnducky</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <!-- Col 1 -->
    <div class="col-8">
      <div class="chart-container">
        <canvas id="my-chart"> </canvas>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col-3 ms-auto">
      <div class="card mb-3 border-1">
        <div class="row">
          <div class="col-6 my-2 offset-2">
            <h6>Recent Messages</h6>
          </div>
        </div>
        <div class="row g-0 justify-content-md-center">
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">Hank Schrader</h6>
              <p class="card-text text-muted">@johnducky</p>
            </div>
          </div>
        </div>
        <div class="row g-0 justify-content-md-center">
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">Dean Winchester</h6>
              <p class="card-text text-muted">@imdean</p>
            </div>
          </div>
        </div>
        <div class="row g-0 justify-content-md-center">
          <div class="col-md-2 my-auto">
            <i class="bi bi-person-circle fs-2"></i>
          </div>
          <div class="col-md-6 my-auto">
            <div class="card-body">
              <h6 class="card-title">John Dodol</h6>
              <p class="card-text text-muted">@dodoljohn</p>
            </div>
          </div>
        </div>
        <div class="row g-0 justify-content-md-center">
          <div class="col my-auto mb-3">
            <button class="btn btn-secondary">Start Conversation</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row my-2">
    <!-- Col 1 -->
    <div class="col-3">Profile Visit</div>
    <!-- Col 2 -->
    <div class="col-5">Latest Purchases</div>
    <!-- Col 3 -->
    <div class="col-3 ms-auto">Visitors Profile</div>
  </div>
</div>
